In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [44]:
files = ["AGO2020", 
         "SEP2020", 
         "OCT2020", 
         "NOV2020", 
         "DIC2020", 
         "ENE2021", 
         "FEB2021",
         "MAR2021"]

In [45]:
def merge_data(files):
    df = pd.DataFrame()
    for file in files:
        data = pd.read_csv("./"+file+".csv", sep=";")
        df = pd.concat([df, data])
    df = df.fillna(method="ffill")
    return df.dropna()

In [46]:
data = merge_data(files)
data

,Timestamp,POZ_PIT_1501A,POZ_PIT_1401B,POZ_PIT_1400A,POZ_PIT_1400B
7,1/08/2020 0:31,"2004,4","2004,4","192,82","192,92"
8,1/08/2020 0:31,"2004,4","2008,79","192,82","192,92"
9,1/08/2020 0:31,"2007,33","2008,79","192,82","192,92"
10,1/08/2020 0:31,"2007,33","2008,79","192,82","193,41"
11,1/08/2020 0:31,"2008,06","2008,79","192,82","193,41"
...,...,...,...,...,...
481012,31/03/2021 0:28,"272,53","270,33","268,57","268,62"
481013,31/03/2021 0:28,"272,53","270,33","268,42","268,62"
481014,31/03/2021 0:29,"272,53","270,33","268,57","268,62"
481015,31/03/2021 0:29,"271,79","270,33","268,57","268,62"
481016,31/03/2021 0:29,"271,79","270,33","268,42","268,62"

In [50]:
data.to_csv("data.csv")

In [ ]:
data = pd.read